/* 컨테이너 */
.container{
width: 1200px; 
margin: 0 auto;
box-sizing: border-box;

}


/* 수정한 부분 -------------------------------------------- */

/* 메인컬러는 400 */

:root {
    --pink100 : #FFF2F6;
    --pink200 : #FFE2EC;
    --pink300 : #FF9FBF;
    --pink400 : #FB3D7E; 
    --pink500 : #D12660;
    --pink600 : #6C3D4D;

    --blue100: #EFF5FF;
    --blue200: #C8DEFD;
    --blue300: #6BAAFA;
    --blue400: #2E88FE;
    --blue500: #0F53AF;
    --blue600: #112A4B;

    --green100: #F4FFF9;
    --green200: #D5FDE9;
    --green300: #55F7A6;
    --green400: #2BD982;
    --green500: #10AA5D;
    --green600: #06743D;
    --green600: #004A25;

    --yello100: #FFFAEF;
    --yello200: #FFF2D5;
    --yello300: #FFD374;
    --yello400: #FCCB27;
    --yello500: #FCA227;
    --yello600: #FD5A05;
    --yello700: #3B2620;

    --black100: #F2F2F2;
    --black200: #E8E8E8;
    --black300: #D3D3D3;
    --black400: #A8A8A8;
    --black500: #747373;
    --black600: #4D4D4D;
    --black700: #242424;

    --white: #fff;
    --minRangeValue: 280px;
  }

/* 미디어 쿼리 */

#header{
position: fixed;
margin: 0 auto;
left: 0;
right: 0;
top: 0;
background-color: rgba( 255, 255, 255, 0.5 );
z-index: 999; 
}


#content{}


/* 헤더 --------------------------------------------- */



.navbar{
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 2% 0;



}

.navbar_logo{
width: 12rem;
color: #fff;
}

.navbar_logo i {
color: aqua;
}

/* 네브바 메뉴 */
.navbar_menu{
display: flex;
font-size: 0.8rem;
}

.navbar_menu li a{
padding: 8px 24px;
display: block;
color: var(--black500);
font-weight: 600;
}
.navbar_menu li a:hover{
background-color: var(--pink300);
border-radius: 20px;
color: #fff;
}
.navbar_menu li:nth-child(even) a:hover{
    background-color: var(--blue300);
}

.navbar_icons{
display: flex;
font-size: 1.4rem;
justify-content: center;
text-align: center;

}

.navbar_icons li a {
padding: 0.3rem 0.5rem;
border-radius: 0.5rem;
line-height: 0.5rem;
}

.navbar_icons li .lgoin{
    color: var(--pink400);
}
.navbar_icons li .sign{
    color: var(--blue400);
}

.navbar_icons li .lgoin:hover{
background-color:var(--pink400);
color: var(--white);
}
.navbar_icons li .sign:hover{
    background-color:var(--blue400);
    color: var(--white);
    }


/* 햄버거 버튼 */
.navbar_toggleBtn {
position: absolute;
right: 32px;
font-size: 1.2rem;
display: none;

}



/* 메인 - 스크롤 기능 넣기 */
/* 메뉴 선택  */
.menu{
display: flex;
flex-direction: column;
position: fixed;
z-index: 999;
right: 2%;
bottom: 7%;
margin: 0 auto;
border-radius: 40px;
color: var(--white);
padding: 1rem;
}

.menu > div {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 30px;
    text-align: center;
    padding: 3%;
    cursor:pointer;

}
.menu > div:nth-child(1){
    background-color: var(--blue400);
}
.menu > div:nth-child(1):hover{
    background-color: var(--blue500);
}

.menu > div:nth-child(2){
    background-color: var(--pink400);
    margin: 1rem 0;
}
.menu > div:nth-child(2):hover{
    background-color: var(--pink500);
    margin: 1rem 0;
}

.menu > div:nth-child(3){
    background-color: var(--green400);
}
.menu > div:nth-child(3):hover{
    background-color: var(--green500);
}




.menu > div i{
    line-height: 2.2rem;
    
}

/* 콘텐츠영역---------------------------------------------------- */
.content{
height: 100vh;
}

#con1{ 
    /* background: url('../img/main1_bg.jpg') center center / cover no-repeat; */
    background: url('../img/main_bg1.png') center center / cover no-repeat;
    align-items: center;
}
.con1_emo {
    display: flex;
    gap: 1%;
}
.con1_emo > div {
    width:3rem;
    height: 3rem;
    border-radius: 3rem;
    margin-bottom: 0.4rem;
}

.con1_wrap {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 8% 3% 5%;
    justify-content: space-between
}

.con1_txt .con1_sub{
    color: var(--black600);
    font-size: 2rem;
    font-weight: 500;
}
.con1_txt .con1_sub span{
    font-size: 3rem;
    font-weight: 700;
}

.con1_txt .con1_title1 {
    font-family: 'YJ';
    font-size: 4.2rem;
    color: var(--black700);
}

.con1_txt .con1_title1 span{
    font-size: 3rem;
    color: var(--black700);
}

.con1_txt .con1_title2 {
    color: var(--pink400);
    display: flex;
    text-transform: uppercase;
    font-family: 'NEXEN200';
    font-size: 8rem;
}
.con1_txt .con1_title2 span{
    margin-left: -0.3%;
}
.color2 {
    color: var(--blue400);
}


.con1_txt .con1_title2 span:hover{
    transform: translate(0, -20px);
}
.con1_txt .info{
    font-size: 1.4rem; 
}
.con1_icon{
    width: 14rem;
    height: 4.8rem;
    display: block;
    margin: 11% 3% 0 0;
    display: flex;
}
.con1_icon a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: var(--green400);
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.con1_icon a:hover{
    background-color:var(--green500);
    color: #fff;
}

.con1_img{
    right: 13rem;
    width: 27rem;
    height: auto;
    margin: 1% 0;
}




/* con2------------------------------ */
#con2{background-color: var(--pink200)}

.con2_wrap{
    padding: 12% 5% 10%;
    text-align: center;
}
.con2_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
    color: var(--pink600);
}
.con2_txt .con2_tit p{
    font-family: 'Cookie200';
    color: var(--blue400);
    letter-spacing: -20%;
}
.con2_txt .con2_tit p span{
    font-family: 'Cookie300';
    color: var(--pink400);
    letter-spacing: 0;
}

.con2_txt div:nth-child(1){
    font-size: 1.8rem;
}
.con2_txt div:nth-child(2){
    font-size: 4rem;
}


.con2_sub2{
    width: 63%;
    margin: 1% auto;
    display: flex;
    padding-left: 3%;
    border: 2px solid var(--pink400);
    border-radius: 4rem;
    color: var(--pink600);
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}
.con2_sub2:hover{
    background-color: var(--pink100);
    border: 2px solid var(--blue400);
    color: var(--black600);
}
.con2_sub2:hover .con2_icon {
    background-color: var(--blue400);
}

.con2_sub2 .con2_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pink400);
    border-radius: 3rem;
    height: 4rem;
    width: 20%;
    
}
.con2_sub2 .con2_icon a {
    font-size: 1.5rem;
    color: var(--pink100);

}
.con2_sub2 .con2_info{
    display: flex;
    justify-content: center;
    width: 100%;
}
.con2_sub2 .con2_info p{
    font-size: 1.3rem;
}



.slider { 
    padding: 1%;
}
.slider div {
}
.slider div:last-child{
}

/* con3---------------------------------- */
#con3{background-color: var(--green100);
    display: flex;
    }

.con3_wrap{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 6% 3% 4%;
    justify-content: space-between;
    gap: 2%;
}
.con3_img{
    width: 52%;
}
.con3_wrap article{
    display: flex;
    flex-direction: column;
    width: 48%;  
}
.shop_diary{
    background-color: var(--green200);
    height: 15rem;
    margin-bottom: 3%;
    border-radius: 2rem;
    border: 3px solid var(--green300);
}
.shop_diary:hover{
    background-color: var(--green300);
}
.shop_diary:hover .shop_sub1_d{
    color: var(--green200);
}

.shop_diary:hover .cupon1{
    margin-bottom: 1rem;
    color: var(--green100);
}
.shop_diary:hover .shop_info_d{
    background-color: var(--green600);
}


.shop_album{
    background-color: var(--yello200);
    height: 15rem;
    margin-bottom: 3%;
    border-radius: 2rem;
    border: 3px solid var(--yello300);
} 
.shop_album:hover{
    background-color: var(--yello400);
}
.shop_album:hover .shop_sub1_a{
    color: var(--yello100);
}
.shop_album:hover .cupon2{
    margin-bottom: 1rem;
    color: var(--yello100);
}
.shop_album:hover .shop_info_a{
    background-color: var(--yello600);
}



.shop_diary a,
.shop_album a {
    display: flex;
    gap: 5%;
    box-sizing: border-box;
    padding: 8%;
    align-items: center;
    font-style: none;
}


.shop_diary .diary_icon,
.shop_album .album_icon{
    background-color: var(--white);
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop_diary .diary_icon img,
.shop_album .album_icon img{
    width: 5rem;
}
.shop_diary .diary_icon{
    border: 3px solid var(--green400);
}
.shop_album .album_icon{
    border: 3px solid var(--yello500);
}

.shop_sub1_d{
    font-size: 1.2rem;
    color: var(--green500);
    font-weight: 600;
}

.shop_sub1_a{
    font-size: 1.2rem;
    color: var(--yello500);
    font-weight: 600;
}

.shop_tit h2{
    font-size: 2rem;
    font-family:'YJ';
}
.cupon1{
    margin-bottom: 1rem;
    color: var(--green600);
}
.cupon2{
    margin-bottom: 1rem;
    color: var(--yello600);
}
.align{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
    gap: 10px;
}
.shop_info_d {
    background-color: var(--green500);
    font-size: 80%;
   
}

.shop_info_a {
    background-color: var(--yello500);
    font-size: 80%;
}
/* 푸터 ======================================  */
#footer{
    background-color: var(--blue600);
}

.foot_inner{
    width: 100%;

}

/* 푸터 로고  */
.foot_logo{
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding: 3rem 0 2rem ;
    opacity: 0.9;
}
.foot_logo div {
    margin: 0 auto;
    width: 10rem;
}
.foot_logo a{
    width: 100%;
    height: 100%;
    display: block;
}


/* 푸터 네비 */

.foot_nav ul{ 
    justify-content: center;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.foot_nav ul li {
    display: inline;
    padding: 0 20px;
   
}
.foot_nav ul li a {
    width: 100%;
    height: 100%;
    padding: 0.3rem 0;
    font-size:  14px;
    color: var(--blue200);
    font-weight: 600;
}
.foot_nav ul li a:hover{
    border-bottom:2px solid var(--pink300);
    color: var(--pink300);
}

.foot_nav hr{
    width: 28rem;
    margin: 0 auto;
    border: 0;
    height: 1px;
    background-color: var(--blue200);
    opacity: 0.8;
}

/* 푸터-아이콘 */
.foot_icon ul{
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1.9rem 0 3rem 0;

}
.foot_icon ul li{
    display: inline; 
    margin: 0 5px;  
}
.foot_icon ul li a{
    position: relative; 
    border-radius: 50%; 
    width: 40px; height: 40px; 
    color: var(--blue200);
    display: inline-block; 
    font-size: 20px; 
    line-height: 40px; 
    transition: all 0.3s ease;
}

.foot_icon ul li a span{
    position: absolute; 
    width: 200px;
    height: 20px;
    left: 50%; top: 42px; 
    transform: translateX(-50%); 
    font-size:  10px; 
    line-height: 1.6; 
    padding: 3px 9px; 
    border-radius: 6px 0; 
    transition: all 0.3s ease;
    color: var(--blue100);
    opacity: 0;
}
.foot_icon ul li a:hover span{
    opacity: 0.8;
}

.foot_icon li a span:before {}
.foot_icon li a:hover span {}
.foot_icon li a:hover {
    box-shadow: 
        /* 0 0 0 2px rgba(75,154,191,0.9) inset,  */
        0 0 0 2px var(--blue200) inset, 
        0 0 0 100px rgba(0,0,0,0.1) inset;
        opacity: 0.8;
}


/*MQ ------------------------------------------- */



/* 화면 너비 0 ~ 1220px */
@media(max-width: 1220px){
.container{width: 100%;}
.row {padding: 0 15px;}
}

/* 화면 너비 0 ~ 1024px */
@media (max-width: 1024px){}

/* 화면 너비 0 ~ 960px */
@media (max-width: 960px){}

/* 화면 너비 0 ~ 768px */
@media screen and (max-width:768px){
.container{width: 100%;}

.navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;

}

.navbar_logo {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2%;
}
.navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar_menu li{
    width: 100%;
    text-align: center;
}
.navbar_menu li a{
    padding: 0.8rem 0;
    height: 100%;
    display: block;
}
.navbar_menu li a:hover{
    background-color: var(--pink300);
    border-radius:0;
    color: #fff;
}

/* 아이콘 영역  */
.navbar_icons {
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    display: none;
}
.navbar_icons li {
    width: 100%;
}

.navbar_icons li a {
    padding: 8px 0;
    display: block;
    height: 100%;

}
.navbar_icons li a:hover{
    background-color: #222;
    border-radius:0;
    color: #fff;
}

.navbar_toggleBtn {
    display: block;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--pink400);
    padding: 1%;
}
.navbar_toggleBtn:hover {
    color: var(--blue400);
}

/* active일때 */
.navbar_menu.active,
.navbar_icons.active{
    display: flex;
}

}


/* 화면 너비 0 ~ 600px */
@media (max-width: 600px){}

/* 화면 너비 0 ~ 480px */
@media (max-width: 480px){}

/* 화면 너비 0 ~ 320px */
@media (max-width: 480px){}


